body {
    margin: 0;
    padding: 0;
    overflow: scroll;
    transition: all 0.5s ease-in-out;
    flex-direction: row;
 }

 .ar {
    font-family: Poppins;
    font-size: 1.4vh;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    transition: all 0.5s ease-in-out;
    margin-left: 13.1vw;
    margin-top: 2.1vh;
    margin-bottom: 0.5vh;

 }

 .hm {

   color: #000;
   text-decoration: none;

 }

 .lg {

   color: #000;
   text-decoration: none;
   
}

.stc {

   color: #000; 
   font-family: Poppins; 
   font-size: 1.8vw; 
   font-style: normal; 
   font-weight: 600; 
   line-height: normal; 
   margin-bottom: 1.2vh;
}

.login-container {

    display: flex;
    width: 56.0vh;
    height: 41.5vh;

    margin-left: 13.1vw;

    color: black;
    font-family: Poppins;
    word-wrap: break-word;
    flex-direction: column;

    background: #fffbf5;
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4.5px );
    -webkit-backdrop-filter: blur( 4.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.rc {

    display: flex;

    margin-left: 5.7vh;
    margin-top: 3.7vh;
    font-size: 1.8vh;
    font-weight: 600;
}

.iyhac {
    
    display: flex;
    margin-left: 5.7vh;
    margin-top: 2.0vh;
    margin-bottom: 1.0vh;
    font-size: 1.4vh;
    font-weight: 300;
    line-height: 3.0vh;
}

.cl-container {

    display: grid;
    grid-template-columns: 56.0vh 56.0vh;
}

.cl-email {

    display: flex;
    /* left: -77.3vh; */
    width: 43.2vh;
    height: 4.0vh;
    margin-top: 1.0vh;
    margin-left: 5.7vh;
    font-size: 1.8vh;
    -webkit-text-fill-color: #000;
    -webkit-text-stroke-color: #000;
    border-color: #000;
    overflow: hidden;
    border-radius: 0.8vh;
    border: 0.2vh solid grey;

}

.cl-pass {

    display: flex;
    /* left: -77.3vh; */
    width: 43.2vh;
    height: 4.0vh;
    margin-top: 1.0vh;
    margin-left: 5.7vh;
    font-size: 1.8vh;
    -webkit-text-fill-color: #000;
    -webkit-text-stroke-color: #000;
    border-color: #000;
    overflow: hidden;
    border-radius: 0.8vh;
    border: 0.2vh solid grey;

}

.cl-text1 {

    display: flex;
    margin-left: 5.7vh;
    font-size: 1.4vh;
    font-weight: 600;
    
}

.cl-text2 {

    display: flex;
    margin-left: 5.7vh;
    margin-top: 2.5vh;
    font-size: 1.4vh;
    font-weight: 600;
    
}

.cl-submit {

    /* left: -77.3vh; */
    font-size: 1.4vh;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    border-radius: 5vh;
    border: 0.4vh solid var(--Color---3, #ff8400);
    -webkit-text-fill-color: #ff8400;
    background-color: white;
    text-decoration: none;

    margin-top: 3.0vh;
    margin-left: 5.7vh;

    padding-top: 0.8vh;
    padding-bottom: 0.8vh;
    padding-left: 2.5vh;
    padding-right: 2.5vh;
}

.cl-submit:hover {

    -webkit-text-fill-color: #0156FF;
    border-color: #0156FF;
    transition-duration: 0.4s;

}

.cl-em {

    color: black;
    background-color: #fffbf5;
    font-size: 1.4vh;
    margin-left: 6.0vw;
    margin-top: 0.2vh;
    padding: 0.8vh;
    border-radius: 10.0vh;
    transition: all 0.3s ease-out;
}


.register-container {

    width: 56.0vh;
    background-color: antiquewhite;
    margin-left: 20.2vw;

    color: black;
    font-family: Poppins;
    word-wrap: break-word;
    flex-direction: column;

    background: #fffbf5;
    box-shadow: 0 0.8vh 3.2vh 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 0.4vh );
    -webkit-backdrop-filter: blur( 0.4vw );
    border-radius: 1.0vw;
    border: 0.1vw solid rgba( 255, 255, 255, 0.18 );
}