body {
    margin: 0;
    padding: 0;
    overflow: scroll;
    transition: all 0.5s ease-in-out;
    flex-direction: row;
 }

 .ar {
    font-family: Poppins;
    font-size: 1.4vh;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    transition: all 0.5s ease-in-out;
    margin-left: 13.1vw;
    margin-top: 2.1vh;
    margin-bottom: 0.5vh;

 }

 .hm {

   color: #000;
   text-decoration: none;

 }

 .lg {

   color: #000;
   text-decoration: none;
   
}

.stc {

   color: #000; 
   font-family: Poppins; 
   font-size: 1.8vw; 
   font-style: normal; 
   font-weight: 600; 
   line-height: normal; 
   margin-bottom: 1.2vh;
}

.cd-gc {
    display: grid;
    grid-template-columns: 17.5% auto 1%;
    width: 80%;
    margin-left: 13.1vw;
}
  

.cd-sidebar {

    grid-row-start: 1;
    grid-row-end: 3;

    width: 100%;
    height: 53.5vh;
    border-radius: 0.0vh;
    background-color: antiquewhite;
    transition: all 0.5s ease-in-out;
}

.cd-sidebar:hover {

    box-shadow: 0 0.8vh 3.2vh 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 0.4vh );
    -webkit-backdrop-filter: blur( 0.4vh );
    transition: all 0.5s ease-in-out;
    
}

.sidebar-item {

    color: grey; 
    font-family: Poppins; 
    font-size: 0.7vw; 
    font-style: normal; 
    font-weight: 300; 
    text-decoration: none;

    margin-left: 4.0vh;
    transition: all 0.5s ease-in-out;
}

.sidebar-item:hover {

    color: black; 
    font-family: Poppins; 
    font-size: 0.8vw; 
    font-style: normal; 
    font-weight: 500; 
    text-decoration: none;
    transition: all 0.5s ease-in-out;
}

.divider {

    background-color: grey;
    width: 80%;
    height: 0.2vh;
    margin-top: 2.0vh;
    margin-left: 3.0vh;
}

.cd-head {

    color: #000; 
    font-family: Poppins; 
    font-size: 1.0vw; 
    font-style: normal; 
    font-weight: 600; 
    line-height: normal;
    margin-left: 2.5vw;

}

.cd-divider {

    background-color: grey;
    width: 80%;
    height: 0.2vh;
    margin-top: 2.0vh;
    margin-left: 2.5vw;

}

.ai-gc {

    margin-top: 2.0vh;
    margin-left: 2.5vw;

    display: grid;
    grid-template-columns: 22.5vw 22.5vw;
    grid-template-rows: auto;
    column-gap: 10.0vh;
}

.ci-head {

    color: black; 
    font-family: Poppins; 
    font-size: 0.8vw; 
    font-style: normal; 
    font-weight: 500; 
    text-decoration: none;
    transition: all 0.5s ease-in-out;

}

.ci-info{

    color: grey; 
    font-family: Poppins; 
    font-size: 0.8vw; 
    font-style: normal; 
    font-weight: 300; 
    text-decoration: none;
    transition: all 0.5s ease-in-out;
    word-break: normal;

}

.ci-edit {


    font-size: 1.4vh;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    border-radius: 1.0vh;
    border: 0.3vh solid var(--Color---3, #ff8400);
    -webkit-text-fill-color: #ff8400;
    background-color: white;
    text-decoration: none;

    padding-top: 0.3vh;
    padding-bottom: 0.4vh;
    padding-left: 1.5vh;
    padding-right: 1.5vh;

}

.ci-edit:hover {

    -webkit-text-fill-color: #0156FF;
    border-color: #0156FF;
    transition-duration: 0.2s;

}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    top: 30%;
    left: 40%;

    width: 15.0vw;
    overflow: auto;
    border-radius: 2.0vh;

    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 0.8vh 3.2vh 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 0.4vh );
    -webkit-backdrop-filter: blur( 0.4vh );
    border-radius: 2.0vh;
    transition: all 0.5s ease-in-out;
  }

.modal-header {
    color: black; 
    font-family: Poppins; 
    font-size: 1.0vw; 
    font-style: normal; 
    font-weight: 600; 
    text-decoration: none;
    transition: all 0.5s ease-in-out;
    padding: 0.5vh;
}

.modal-divider {

    width: 100%;
    height: 0.4vh;
    background-color: #ff8400;
}

.cd-text{

    color: black;
    font-family: Poppins; 
    font-size: 0.8vw; 
    font-style: normal; 
    font-weight: 400; 
    text-decoration: none;
    transition: all 0.5s ease-in-out;

}

.cd-pass {

    display: flex;
    font-size: 1.8vh;
    -webkit-text-fill-color: #000;
    -webkit-text-stroke-color: #000;
    border-color: #000;
    border-radius: 0.8vh;
    border: 0.2vh solid grey;
    margin-left: 2.0vw;
    text-align: center;

}

.modal-body {

    text-align: center;
}

.modal-content {
    box-shadow: 0 0.4vh 0.8vh 0 rgba(0,0,0,0.2),0 0.6vh 2.0vh 0 rgba(0,0,0,0.19);
}

.modal-submit {

    font-size: 1.4vh;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    border-radius: 5vh;
    border: 0.4vh solid var(--Color---3, #ff8400);
    -webkit-text-fill-color: #ff8400;
    background-color: white;
    text-decoration: none;

    padding-top: 0.8vh;
    padding-bottom: 0.8vh;
    padding-left: 2.5vh;
    padding-right: 2.5vh;
}

.modal-submit:hover {

    -webkit-text-fill-color: white;
    background-color: #ff8400;
    transition-duration: 0.4s;

}

.cd-em {

    color: black;
    background-color: #fffbf5;
    font-size: 1.4vh;
    margin-left: 6.0vw;
    margin-top: 0.2vh;
    padding: 0.8vh;
    border-radius: 10.0vh;
    transition: all 0.3s ease-out;
}

.round {
    position: relative;
}
  
.round label {
    background-color: #fff;
    border: 0.4vh solid darkgray;
    border-radius: 50%;
    cursor: pointer;
    height: 2.8vh;
    left: 0;
    position: absolute;
    top: 0;
    width: 2.8vh;
}
  
.round label:after {
    border: 0.4vh solid #fff;
    border-top: none;
    border-right: none;
    content: "";
    height: 0.6vh;
    left: 0.7vh;
    opacity: 0;
    position: absolute;
    top: 0.8vh;
    transform: rotate(-45deg);
    width: 1.2vh;
}
  
.round input[type="checkbox"] {
    visibility: hidden;
}
  
.round input[type="checkbox"]:checked + label {
    background-color: #ff8400;
    border-color: #ff8400;
}
  
.round input[type="checkbox"]:checked + label:after {
    opacity: 1;
}

.cd-checkbox-container {

    margin-left: 6.5vw;
}

.cd-selector {

    display: flex;
    font-size: 1.8vh;
    width: 10.0vw;
    -webkit-text-fill-color: #000;
    -webkit-text-stroke-color: #000;
    border-color: #000;
    border-radius: 0.8vh;
    border: 0.2vh solid grey;
    margin-left: 2.5vw;
    text-align: center;
    align-items: center;
    align-self: center;
    align-content: center;
    
}

.cd-logout {

    display: block;
    font-family: Poppins;
    font-size: 1.4vh;
    font-style: normal;
    font-weight: 600;
    -webkit-text-fill-color: White;
    height: 4.0vh;
    width: 12.0vh;
    border: 0.5vh solid #ff8400;
    border-radius: 5.0vh;
    background-color: #ff8400;
    transition-duration: 0.2s;
    text-decoration: none;
    overflow: hidden;
    text-align: center;
    cursor: pointer;
    margin-left: 2.0vw;
    margin-top: 0.5vh;
    
}

.cd-logout:hover {

    border-color: #ff8400;
    transition-duration: 0.4s;
    background-color: transparent;
    -webkit-text-fill-color: #ff8400;
   
}