body {
    margin: 0;
    padding: 0;
    overflow: scroll;
 }

 .ar {
    font-family: Poppins;
    font-size: 1.4vh;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    transition: all 0.5s ease-in-out;
    margin-left: 13.1vw;
    margin-top: 2.1vh;
    margin-bottom: 0.5vh;

 }

 .hm {

   color: #000;
   text-decoration: none;

 }

 .hm:hover {

   color: #ff8400;
   text-decoration: none;
   transition: all 0.2s ease-in-out;

 }

 .lg {

   color: #000;
   text-decoration: none;
   
}

.lg:hover {

   color: #ff8400;
   text-decoration: none;
   transition: all 0.2s ease-in-out;

 }

.stc {

   color: #000; 
   font-family: Poppins; 
   font-size: 1.8vw; 
   font-style: normal; 
   font-weight: 600; 
   line-height: normal; 
   margin-bottom: 1.2vh;
}

.grid-wrapper {

    display: grid;
    grid-template-columns: 15.0vw 57.0vw;
    margin-left: 12.4vw;
    
}

.filter-container {
  
  padding: 5%;

}

.filter {

    font-family: Poppins;
    font-size: 1.6vh;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    transition: all 0.5s ease-in-out;

}

.filter-heading {

    display: block;
    font-family: Poppins;
    font-size: 1.8vh;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    transition: all 0.5s ease-in-out;
    margin-bottom: 1.4vh;
    padding-top: 0.5vw;

}

.divider {

    background-color: #000;
    width: 80%;
    height: 0.3vh;
    margin-top: 2.0vh;
}

  .checkbox-wrapper-2 .common_selector {
    appearance: none;
    background-color: #dfe1e4;
    border-radius: 7.2vw;
    border-style: none;
    flex-shrink: 0;
    height: 1.0vw;
    margin: 0;
    position: relative;
    width: 2.0vw;
    margin-left: 1.5vh;
  }

  .checkbox-wrapper-2 .common_selector::before {
    bottom: -0.6vw;
    content: "";
    left: -0.6vw;
    position: absolute;
    right: -0.6vw;
    top: -0.6vw;
  }

  .checkbox-wrapper-2 .common_selector,
  .checkbox-wrapper-2 .common_selector::after {
    transition: all 100ms ease-out;
  }

  .checkbox-wrapper-2 .common_selector::after {
    background-color: #fff;
    border-radius: 50%;
    content: "";
    height: 0.5vw;
    left: 0.3vw;
    position: absolute;
    top: 0.3vw;
    width: 0.5vw;
  }

  .checkbox-wrapper-2 input[type=checkbox] {
    cursor: default;
  }

  .checkbox-wrapper-2 .common_selector:hover {
    background-color: #c9cbcd;
    transition-duration: 0s;
  }

  .checkbox-wrapper-2 .common_selector:checked {
    background-color: #ff8400;
  }

  .checkbox-wrapper-2 .common_selector:checked::after {
    background-color: #fff;
    left: 1.3vw;
  }

  .checkbox-wrapper-2 :focus:not(.focus-visible) {
    outline: 0;
  }

  .checkbox-wrapper-2 .common_selector:checked:hover {
    background-color: #ff8400;
  }
  

.item {

  display: grid;
  grid-template-columns: 19.0vw 19.0vw 19.0vw;
  column-gap: 1.0vw;
  row-gap: 1.0vw;
  
}

.card {

  display: block;
  width: auto;
  height: auto;
  cursor: pointer;
  max-height: 25.0vh;
  transition: max-height 2s ease-in-out;
  transition: all 1s ease-in-out;
  overflow: hidden;
}

.card:hover {

  background: rgba( 255, 255, 255, 0.25 );
  box-shadow: 0 0.8vh 3.2vh 0 rgba(255, 136, 0, 0.911);
  backdrop-filter: blur( 0.4vh );
  -webkit-backdrop-filter: blur( 0.4vh );
  border-radius: 2.0vh;
  transition: all 2s ease-in-out;
  max-height: 60.0vh;
}

.card-image {

  display: block;
  width: 20.0vh;
  height: 20.0vh;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1.0vw;
}

.card-title {

  display: block;

  font-family: Poppins;
  font-size: 1.6vh;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  transition: all 0.5s ease-in-out;
  text-align: center;


}

.card-text {

  display: block;

  font-family: Poppins;
  font-size: 1.4vh;
  font-weight: 400;
  transition: all 0.5s ease-in-out;
  text-align: center;
  margin-top: 0.8vh;


}

.card:hover .card-text {

  font-size: 1.6vh;
  font-weight: 600;
  transition: all 0.8s ease-in-out;


}

.item-submit {

  /* left: -77.3vh; */
  font-size: 1.4vh;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  border-radius: 5vh;
  border: 0.4vh solid var(--Color---3, #ff8400);
  -webkit-text-fill-color: #ff8400;
  background-color: white;
  text-decoration: none;

  margin-top: 1.0vh;
  margin-left: 22.5%;

  padding-top: 0.4vh;
  padding-bottom: 0.4vh;
  padding-left: 1.5vh;
  padding-right: 1.5vh;
  width: 10.0vw;
}

.item-submit:hover {

  -webkit-text-fill-color: #0156FF;
  border-color: #0156FF;
  transition-duration: 0.5s;

}

.card-specs {

  font-family: Poppins;
  font-size: 1.4vh;
  font-weight: 400;
  text-align: center;
}

.card:hover .card-specs {

  display: block;
}

.card-height-animate {
  height: 80.0vh; 
}