body {
    margin: 0;
    padding: 0;
 }

.top-bar {
    
    display: flex;
    width: 100%;
    height: 4.4vh;
    flex-shrink: 0;
    background: #020202;
    display: flex;
    flex-direction: row;
    font-family: Poppins;
    font-size: 1.2vh;
    font-style: normal;
    font-weight: 600;
    line-height: normal;

}

.tbt {

    margin-top: 1.3vh;
    -webkit-text-fill-color: #F5F7FF;
    margin-left: 25.5vh;
}

.tbh {

    margin-top: 1.3vh;
    -webkit-text-fill-color: #ACACAC;
    margin-left: 30.4vh;
    margin-right: 3.7vw;
}

.tbh u {

    margin-top: 1.3vh;
    -webkit-text-fill-color: #fff;
    padding-left: 0.4vh;
}

.topnav {

    width: 100%;
    height: 9.2vh;
    flex-shrink: 0;
    border: 2.0vh;
    border-color: #020202;
    display: flex;
    transition: all 0.5s ease-in-out;

}

.topnav:hover {

    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    transition: all 0.5s ease-in-out;

}

.sep {

    width: 100%;
    height: 0.2vh;
    flex-shrink: 0;
    border: 2.0vh;
    background-color: #CACDD8;
    display: flex;

}

.df {
 
    font-size: 1.4vh;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    text-decoration: none;
    color: black;
    transition: all 0.5s ease-in-out;
    padding-right: 2.5vh;
    margin-top: 3.7vh;

}

.df:hover {
 
    -webkit-text-fill-color: #ff8400;
    transition-duration: 0.2s;

}

.od {

    display: inline-flex;

    font-size: 1.4vh;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    border-radius: 5vh;
    border: 0.4vh solid var(--Color---3, #ff8400);
    -webkit-text-fill-color: #ff8400;
    text-decoration: none;

    margin-top: 2.8vh;
    margin-bottom: 2.6vh;
    margin-right: 12.0vh;

    padding-top: 0.6vh;
    padding-bottom: 0.8vh;
    padding-left: 2.5vh;
    padding-right: 2.5vh;
}

.od:hover {

    -webkit-text-fill-color: #0156FF;
    border-color: #0156FF;
    transition-duration: 0.2s;

}

.logo {

    width: 7.0vh;
    height: 7.0vh;
    margin-top: 1.0vh;
    margin-left: 25.5vh;
    margin-bottom: 1.7vh;
    margin-right: 10.9vh;
}


.button {
	display: inline-block;
	margin: 4px 2px;
	font-size: 1.9vh;
	padding-left: 3.2vh;
	padding-right: 3.2vh;
	height: 5.0vh;
	line-height: 5.0vh;
	text-align: center;
	color: black;
	text-decoration: none;
	cursor: pointer;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.button:hover {
	-moz-transition-duration: 0.4s;
	-webkit-transition-duration: 0.4s;
	-o-transition-duration: 0.4s;
    transition-duration: 0.4s;
	background-color: white;
	color: black;
}

.search-container {
	position: relative;
	display: inline-block;
    margin-top: 2.0vh;
	height: 5.1vh;
	width: 5.0vh;
	vertical-align: bottom;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

.mglass {
	display: inline-block;
	pointer-events: none;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
    margin-right: 1.0vh;
}

.searchbutton {
	position: absolute;
	font-size: 2.9vh;
	width: 100%;
	margin: 0;
	padding: 0;
}

.search:focus + .searchbutton {
	-moz-transition-duration: 0.4s;
	-webkit-transition-duration: 0.4s;
	-o-transition-duration: 0.4s;
    transition-duration: 0.4s;
	background-color: #F5F7FF;
    border-radius: 5.0vh;
    padding-left: 3.0vh;
	color: black;
}

.search {
	position: absolute;
	left: 4.9vh;
	background-color: #F5F7FF;
	outline: black;
	border: none;
    border-radius: 5.0vh;
	padding: 0;
	width: 0;
	height: 100%;
	z-index: 10;
	-moz-transition-duration: 0.4s;
	-webkit-transition-duration: 0.4s;
	-o-transition-duration: 0.4s;
    transition-duration: 0.4s;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

.search:focus {
	width: 120.0vh; /* Bar width+1px */
	padding: 0 1.6vh 0 0;
}

.expandright {
	left: auto;
	right: 2.0vh; /* Button width-1px */
}

.expandright:focus {
	padding: 0 0 0 1.6vh;
}

.badge:after{
    content:attr(value);
    font-size:12px;
    color: #fff;
    background: #ff8400;
    border-radius:50%;
    padding: 0 5px;
    position:relative;
    left:-8px;
    top:-10px;
    opacity:0.9;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}