/* Google Font Import - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    /* ===== Colors ===== */
    --body-background-color: #E9EDF6;
    --sidebar-color: #7B96DB;
    --sidebar-secondary-color: #5a77df;
    --text-color: #0E1420;
    --toggle-button-color: #eceef0;
    --sign-color: var(--body-background-color);
    --button-color: var(--sidebar-secondary-color);
    --stroke-progressbar: #00a1ff;
    --tran-05: all 0.3s ease;
}

body {
    min-height: 100vh;
    background-color: var(--body-background-color);
    /* transition: var(--tran-05); */
}

body.dark {
    --body-background-color: #090D17;
    --sidebar-color: #323954;
    --sidebar-secondary-color: #98ABDD;
    --hover-color: #242526;
    --text-color: #FFFFFF;
    --toggle-button-color: #FFFFFF;
    --sign-color: #FFFFFF;
    --button-color: var(--body-background-color);
    --subjects-box: #3a3b3c;

    --tran-05: all 0.3s ease;
}


.sidebar {
    position: fixed;
    width: 80px;
    height: 100vh;
    background: var(--sidebar-color);
    transition: var(--tran-05);
    padding-left: 10px;
    overflow: hidden;

}

.sidebar.close {
    width: 250px;
}

.sidebar ul {
    position: relative;
    height: 100vh;
}

.sidebar ul li {
    position: relative;
    list-style: none;
    /* transition: var(--tran-05); */
}

.sidebar ul li.active {
    background: var(--body-background-color);
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}

.sidebar ul li.active::before {
    content: '';
    position: absolute;
    top: -20px;
    right: 0;
    background: transparent;
    border-bottom-right-radius: 20px;
    box-shadow: 5px 5px 0 5px var(--body-background-color);
    width: 20px;
    height: 20px;
    /* transition: var(--tran-05); */
}

.sidebar ul li.active::after {
    content: '';
    position: absolute;
    bottom: -20px;
    right: 0;
    background: transparent;
    border-top-right-radius: 20px;
    box-shadow: 5px -5px 0 5px var(--body-background-color);
    width: 20px;
    height: 20px;
    /* transition: var(--tran-05); */
}

.sidebar ul li.logo {
    margin-bottom: 50px;
    padding-right: 10px;
}

.logo {
    border-radius: 15px;
    color: var(--text-color);
    background: var(--sidebar-secondary-color);
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 8px;
}

.toggle {
    position: fixed;
    top: 20px;
    left: 11px;
    width: 50px;
    height: 50px;
    background: transparent;
    z-index: 1000;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 9px;
}

.toggle::before {
    content: '';
    position: absolute;
    width: 30px;
    height: 3px;
    background: var(--toggle-button-color);
    transform: translateY(-9px);
    transition: var(--tran-05);
    box-shadow: 0 9px 0 var(--toggle-button-color);
}

.toggle::after {
    content: '';
    position: absolute;
    width: 30px;
    height: 3px;
    background: var(--toggle-button-color);
    transform: translateY(9px);
    transition: var(--tran-05);
}

.toggle.close::before {
    transform: translateY(0px) rotate(45deg);
    box-shadow: 0 0 0 var(--toggle-button-color);
    transition: var(--tran-05);
}

.toggle.close::after {
    transform: translateY(0px) rotate(-45deg);
    transition: var(--tran-05);
}

.sidebar ul li.logo .text {
    left: 60px;
    font-size: 1.2em;
    font-weight: 500;
    color: var(--text-color);
    cursor: default;
}

.sidebar ul li a {
    position: relative;
    display: flex;
    white-space: nowrap;
    text-decoration: none;
    cursor: pointer;
    transition: var(--tran-05);
}

.sidebar ul li a .icon {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 60px;
    padding-left: 10px;
    height: 70px;
    font-size: 1.5em;
    color: var(--text-color);
    transition: var(--tran-05);
    z-index: 1;
}

.sidebar ul li a .toggleicon {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 60px;
    padding-left: 10px;
    height: 70px;
    font-size: 1.5em;
    transition: var(--tran-05);
    color: #FFFFFF;
}

.sidebar ul li.active a .icon {
    color: var(--text-color);
    font-size: 2em;
}



.sidebar ul li.active a .text {
    color: var(--bg);
    font-size: 1.3em;
}

.sidebar ul li.active a .icon::after {
    content: '';
    position: absolute;
    inset: 5px;
    width: 60px;
    background: var(--sidebar-color);
    border-radius: 50%;
    opacity: 1;
    z-index: -1;
    transition: var(--tran-05);
}

.sidebar ul li.active a .toggleicon::after {
    content: '';
    position: absolute;
    inset: 5px;
    width: 60px;
    border-radius: 50%;
    opacity: 1;
}

.sidebar ul li a .text {
    position: relative;
    height: 70px;
    display: flex;
    align-items: center;
    font-size: 1em;
    color: var(--text-color);
    padding-left: 15px;

    letter-spacing: 0.05em;
    transition: var(--tran-05);
}


.sidebar ul li:hover a .text,
.sidebar ul li:hover a .icon {
    color: var(--bg);
    transition: var(--tran-05);
}

.bottom {
    position: absolute;
    bottom: 0;
    width: 100%;
    margin-bottom: 30px;

}

.bottom .sign {
    background: var(--sidebar-secondary-color);
    margin-right: 10px;
    margin-left: 10px;
    border-radius: 15px;
}

.bottom .sign:hover {
    background: var(--sign-color);
}

.bottom .sign .icon {
    margin-left: -10px;
}

.sidebar .mode {
    border-radius: 6px;
    background-color: transparent;
    position: relative;
    transition: var(--tran-05);

}

.mode .mode-text {
    position: relative;
    height: 70px;
    display: flex;
    align-items: center;
    font-size: 1em;
    color: var(--text-color);
    padding-left: 15px;
    letter-spacing: 0.05em;
    transition: var(--tran-05);
}

.sidebar .mode .sun-moon {
    height: 50px;
    width: 60px;
}

#sun-moon {
    color: var(--text-color);
}

.bottom .toggle-switch {
    position: absolute;
    padding-right: 10px;
    right: 0;
    height: 100%;
    min-width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    cursor: pointer;
    background: transparent;
}

.toggle-switch .switch {
    position: relative;
    height: 22px;
    width: 40px;
    border-radius: 25px;
    background-color: var(--button-color);
    transition: var(--tran-05);
}

.switch::before {
    content: '';
    position: absolute;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    background-color: var(--text-color);
    transition: var(--tran-05);
}

body.dark .switch::before {
    left: 20px;
}

.home {
    display: flex;
    position: fixed;
    top: 0;
    left: 80px;
    height: 100%;
    width: calc(100% - 80px);
    background-color: transparent;
    transition: var(--tran-05);
}


.sidebar.close~.home {
    left: 250px;
    height: 100%;
    width: calc(100% - 250px);
}

body.dark .home .text {
    color: var(--text-color);
}

.body::-webkit-scrollbar {
    display: none;
}